.booklist {
	width: 100%;
	min-height: 80vh;
	padding: 3em;
	margin-block: 4em;

	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
	gap: 5em;
}

.book {
	width: 12em;
	height: 15em;
	margin-bottom: 8em;

	margin-inline: auto;
	overflow: visible;

	&__author {
		margin: 0;
	}
}
