
Interactive-rating-component/design/mobile-thank-you-state.jpg
Interactive-rating-component/design/desktop-design.jpg
Interactive-rating-component/design/active-states.jpg
Interactive-rating-component/design/desktop-preview.jpg
Interactive-rating-component/design/desktop-thank-you-state.jpg
Interactive-rating-component/design/mobile-design.jpg
./Interactive-rating-component/README-template.md
./Interactive-rating-component/README.md