.pic-design {
  width: 75%;
  margin-top: -12.2em;
  margin-inline: auto;

  @media (min-width: 900px) {
    margin: 0 0 0 -10.6em;
  }
}

.pic-design__main {
  width: 100%;
  position: relative;
}

.pic-design__alt {
  margin-top: -6em;
  width: 100%;

  @media (min-width: 900px) {
    margin-top: -12em;
  }
}
