@use '../base/' as b;

.after {
  text-align: center;

   &__icon {
    display: grid;
    place-content: center;
  }

  &__ratings {
    background-color: rgba(83, 82, 82, 0.2);
    margin: 0 auto;
    border-radius: 1.25em;
    width: 60%;
    padding: 0.5em;
     box-shadow:  inset 1px 1px 1px 1px rgba($color: #000000, $alpha: .1);
     color: var(--primary);
  }
}